jobs:
  test:
    environment: release
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: setup repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          cache: 'npm'
          node-version: '19'
      - run: npm ci
      - run: npm run lint:eslint
      - run: npm run lint:tsc
      - run: npm run lint:cspell
      - env:
          ROARR_LOG: 'true'
        run: npm run test:vitest
      - run: npm run build
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
name: Test, build and release
on:
  push:
    branches:
      - main